# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Model Checkpoints & Logs
whisper-medium-amharic/
whisper-medium-amharic-smoke/
*.log
*.pt
*.safetensors
runs/
wandb/

# OS / IDE
.DS_Store
.vscode/
.idea/
